<!DOCTYPE html>

<html>
	<head>
		<title>/ascii/</title>
		<link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen" title="blog_style" charset="utf-8"/>
	</head>
	<body>
		<h1>Blog</h1>
		{% if post %}
		<div class="post">
			<div class="post-title">{{post.subject}}</div>
			<hr />
			<pre class="post-body">{{post.content}}</pre>
		</div>
			<hr />
			<i>Queried {{post_generated}} seconds ago</i>		
		{% else %}
		<div class="error">{{error}}</div>
		{% endif %}
	</body>
</html>